* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f7fb;
    color: #333;
    line-height: 1.6;
}

header {
    background: #1f2937;
    color: white;
    position: sticky;
    top: 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #2563eb;
    color: white;
}

.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 42px;
}

.hero h3 {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 28px;
    background: white;
    color: #2563eb;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

section {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 70px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.grid div {
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card i {
    font-size: 45px;
    color: #2563eb;
    margin-bottom: 15px;
}

#contact {
    text-align: center;
}

footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 25px;
}

@media(max-width:768px) {

    nav {

        flex-direction: column;

    }

    nav ul {

        margin-top: 20px;
        flex-direction: column;
        text-align: center;

    }

    nav li {

        margin: 10px 0;

    }

    .hero h1 {

        font-size: 32px;

    }

}